!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title Wolcott Station | MassTransit
    %link{ rel: "stylesheet", href: "/public/application.css" }
  %body
    %header
      %h1 Wolcott Station
    #main
      .dashboard
      
        .zone
          .cta-bus
            .identifier
              %img{ src: "http://placehold.it/40X40" }
            .info
              Damen/50 S
            .info
              .start
                Ainsle
              .destination
                35th/Archer
            .info
              .predictions
                %ul
                  %li 2 min
                  %li 4
                  %li 9

        .zone
          .cta-bus
            .identifier
              %img{ src: "http://placehold.it/40X40" }
            .info
              Damen/50 S
            .info
              .start
                Ainsle
              .destination
                35th/Archer
            .info
              .predictions
                %ul
                  %li 2 min
                  %li 4
                  %li 9

        .zone
          .cta-bus
            .identifier
              %img{ src: "http://placehold.it/40X40" }
            .info
              Damen/50 S
            .info
              .start
                Ainsle
              .destination
                35th/Archer
            .info
              .predictions
                %ul
                  %li 2 min
                  %li 4
                  %li 9

        .zone
          .cta-bus
            .identifier
              %img{ src: "http://placehold.it/40X40" }
            .info
              Damen/50 S
            .info
              .start
                Ainsle
              .destination
                35th/Archer
            .info
              .predictions
                %ul
                  %li 2 min
                  %li 4
                  %li 9

    %footer
      Powered by DevMynd Software

    %script{ src: "/public/application.js" }